* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(168, 65, 188);
    display: grid;
    place-items: center;
    height: 100vh;
}

.main {
    width: 500px;
    background-color: #fff;
    color: black;
    border-radius: 10px;
    padding: 28px;
}

.main h5 {
    padding-top: 6px;
    color: rgba(62, 54, 54, 0.7);
}

.btn {
    opacity: 0.7;
    pointer-events: none;
    background-color: rgb(168, 65, 188);
    color: white;
}
.active{
    opacity: 1;
    pointer-events: auto;
}
#input {
    padding: 15px;
    font-size: 20px;
}

#Ans {
    display: none;
    font-size: 21px;
    padding-top: 25px;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .main {
        width: 90%;
    }
}

@media screen and (max-width: 576px) {
    .main {
        width: 80%;
    }
}
